@import url('https://fonts.googleapis.com/css2?family=Anton&family=Gugi&family=Lato:wght@100;300;400;700;900&family=Maven+Pro:wght@400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&family=Sofia&display=swap');
*{
    box-sizing: border-box;

 

}
body{
    font-family: 'Poppins',montserrat;
    background:url(quiz.png) center ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:100vh;
    margin:90px;
    overflow: hidden;

}
.quiz-container{
    background-color:#fff ;
    border-radius: 10px;
    box-shadow:0 0 10px 2px rgba(100, 100, 100, 0.1) ;
    width:500px;
    margin-bottom: 10rem;
}
.quiz-header{
    padding:1rem;
}
h2{
    padding: 0 1rem;
}
ul{
    list-style-type: none;
    padding: 0;
}
ul li{
    font-size:1.2rem;
   
}
ul li label{
    cursor: pointer;
}
.submit{
    border: none;
    background-color:#a8c82f ;
    font-family: inherit;
    font-weight: bold;
    font-size: 1.5rem;
    display: block;
    width: 100%;
    border-radius: 0 0 10px 10px;
    padding: 1rem;
    cursor: pointer;
}
#submit:focus::after{
    content: ",Son Kararım 👍 ";
    
}
#submit:focus{

    outline: none;
    background-color:#f87da9 ;
}
[type='radio']:checked,
[type='radio']:not(:checked){
    display: none;
}

[type='radio']:checked + label,
[type='radio']:not(:checked) + label{
    position: relative;
    padding-left: 1.8rem;
    cursor: pointer;

}

[type='radio']:checked + label:before,
[type='radio']:not(:checked) + label::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid #ddd;
    width: 1.1rem;
    height: 1.1rem;
    border-radius: 100px;
    
}
[type='radio']:checked + label:after,
[type='radio']:not(:checked) + label::after{
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 0.75rem;
  height: 0.75rem;
  background-color: #f87da9;
  border-radius: 100%;
  transition: all 0.2s ease;
  
}
[type='radio']:not(:checked) + label:after{
    opacity: 0;
    
}
[type='radio']:checked + label:after{
    opacity:1;

}



